<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNetMVC</title>
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Site.min.css" asp-append-version="true" />
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="container">
                <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/silicon-logo-light_theme.svg" alt=""></a>
                <div id="menu">
                    <nav>
                        <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview</a>
                        <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                        <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                    </nav>
                </div>

                <div class="btn-switch">
                    <label>Light</label>
                    <label class="switch" for="switch-mode">
                        <input type="checkbox" id="switch-mode" />
                        <span class="slider round"></span>
                    </label>
                    <label>Dark</label>
                </div>

                <div class="account-buttons">
                    <a class="btn-gray" asp-controller="Account" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><p>Sign In</p></a>
                    <a class="btn-theme" asp-controller="Account" asp-action="SignUp"><i class="fa-regular fa-user"></i><p>Sign Up</p></a>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <div class="container">
                <div class="social-media">
                    <a class="btn-social" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a class="btn-social" href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <p>&copy; @DateTime.Now.Year Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio no nunc ornare consectetur.</p>
            </div>
        </footer>
    </div>

</body>
</html>
