#courses {

    .container {
        padding-top: 30px;
        display: flex;
        flex-direction: column;

        .navigation {
            padding-bottom: 40px;

            .home {
                color: $gray-600;
            }
        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 30px;
            text-align: center;

            @include md {
                flex-direction: row;
                text-align: left;
            }

            .input-fields {
                flex-direction: column;
                display: flex;
                gap: 30px;
                align-items: center;

                @include md {
                    flex-direction: row;
                }

                .input {
                    min-width: 240px;
                    border: 1px solid $gray-300;
                    border-radius: 8px;
                    outline-color: $theme;
                    padding: 12px 10px;
                    background-color: $white-input;
                    color: $gray-700;
                }
            }
        }

        .courses {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .course {
                position: relative;
                width: 100%;
                box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
                background-color: $white-input;

                @include lg {
                    width: calc(33% - 11px);
                }

                img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .tags {
                    display: flex;
                    gap: 20px;
                    position: absolute;
                    top: 15px;
                    left: 15px;

                    .best-seller {
                        color: #FFFFFF;
                        background-color: $success;
                        padding: 0 14px;
                        border-radius: 6px;
                    }

                    .digital {
                        color: #0B0F19;
                        background-color: #FFFFFF;
                        padding: 0 14px;
                        border-radius: 6px;
                    }
                }

                .bookmark-remove {
                    position: absolute;
                    display: flex;
                    flex-direction: column-reverse;
                    bottom: 85%;
                    right: 9%;
                    transform: translateX(50%);

                    p {
                        color: $gray-500;
                    }

                    .bookmark {
                        background-color: $white;
                        padding: 7px 14px;
                        border-radius: 50%;
                        align-self: center;
                        color: $gray-500;
                        outline: none;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            color: #6366F1;
                        }
                    }

                    .remove {
                        display: none;
                        background-color: rgb(35, 35, 35);
                        color: $white;
                        padding: 8px;
                        border-radius: 10px;
                    }

                    .bookmark:hover ~ .remove {
                        display: block;
                    }
                }

                .details {
                    padding: 16px;

                    &:hover {
                        cursor: pointer;
                        text-decoration: none;
                    }

                    p {
                        margin: 0;
                        color: $gray-600;
                    }

                    h5 {
                        margin-top: 0;
                        color: $theme;

                        &.sale {
                            color: $danger;
                        }

                        span {
                            margin-left: 10px;
                            color: #B4B7C9;
                            font-weight: 400;
                            text-decoration: line-through;
                        }
                    }

                    .rating {
                        border-top: 1px solid $gray-300;
                        color: $gray-600;
                        margin-top: 20px;
                        padding-top: 20px;
                        display: flex;
                        gap: 30px;
                    }
                }
            }
        }

        .buttons {
            padding-top: 50px;
            align-self: center;

            button {
                background-color: $white;
                color: $gray-700;
                border: none;
                padding: 10px 18px;
                border-radius: 10px;

                &.current {
                    background-color: $gray-100;
                }

                &:hover {
                    background-color: $theme;
                    color: $gray-200;
                }
            }
        }

        .get-started {
            margin-top: 100px;
            padding: 50px 0;
            background: $gray-100;
            display: flex;
            justify-content: space-between;
            justify-content: center;

            .left {
                display: flex;
                flex-direction: column;
                text-align: center;

                @include xl {
                    margin-left: 100px;
                    text-align: left;
                }

                h3 {
                    margin-top: 50px;
                    font-weight: 300;
                    color: $gray-600;
                }

                h1 {
                    @include h1;

                    span {
                        color: $theme;
                    }
                }

                a {
                    margin-top: 40px;
                    align-self: center;

                    @include xl {
                        align-self: baseline;
                    }
                }
            }

            img {
                display: none;

                @include xl {
                    display: inline-block;
                    margin-right: 200px;
                    padding-left: 150px;
                }
            }
        }
    }
}
