#download {
    background: $gray-100;
    padding: 0;

    .container {
        display: flex;
        background: $gray-100-download;

        .mobile-image {
            width: 50%;
            margin-left: 0;
            display: none;

            @include md {
                display: block;
                padding: 80px 0;
            }

            @include lg {
                margin-left: 120px;
            }
        }

        .reviews {
            margin-top: 60px;
            text-align: center;

            @include md {
                text-align: left;
            }

            @include xl {
                margin-left: 120px;
                margin-right: 110px;
            }

            h1 {
                @include h3;
                margin-bottom: 30px;

                @include lg {
                    @include h1;
                }
            }

            .review {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                text-align: center;

                @include md {
                    text-align: left;
                }

                @include xl {
                    flex-direction: row;
                    gap: 50px;
                }

                p {
                    color: $gray-600;
                    margin-bottom: 0;
                }

                i {
                    color: $warning;
                    font-size: 12px;
                    margin-bottom: 20px;
                }

                h4 {
                    margin-bottom: 0;
                }

                h6 {
                    color: $gray-600;
                    font-weight: 500;
                }

                img {
                    width: max-content;
                    align-self: center;

                    @include md {
                        align-self: auto;
                        margin-bottom: 12px;
                    }

                    @include xl {
                        align-self: end;
                    }
                }
            }
        }
    }
}
