#features {
    background: $gray-100;
    padding-top: 80px;
    padding-bottom: 80px;

    .container {
        height: 100%;
        display: grid;
        justify-content: center;
        text-align: center;

        .tool-features {
            margin-top: 20px;
            display: grid;

            @include md {
                grid-template-columns: 1fr 1fr;
            }

            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .box {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;

                @include lg {
                    &:nth-child(1) {
                        border-top: 0px;
                        border-left: 0px;
                    }
                    &:nth-child(2) {
                        border-top: 0px;
                    }
                    &:nth-child(3) {
                        border-top: 0px;
                        border-right: 0px;
                    }
                    &:nth-child(4) {
                        border-bottom: 0px;
                        border-left: 0px;
                    }
                    &:nth-child(5) {
                        border-bottom: 0px;
                    }
                    &:nth-child(6) {
                        border-bottom: 0px;
                        border-right: 0px;
                    }
                }

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    background: $white;
                    @include shadow-m;
                }

                img {
                    padding: 10px;
                    background-color: $gray-100;
                    margin: 20px;
                    border-radius: 8px;
                }

                h5 {
                    @include h5;
                }

                p {
                    @include text-m;
                }
            }
        }
    }
}