<section id="not-found">
    <div class="container">
        <img src="~/images/404.svg" alt="404">
        <h1>Ooops!</h1>
        <p>The page you are looking for is not available</p>
        <a class="btn-theme-s" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Go to homepage</a>
    </div>
</section>
